@media screen and (max-width: 1350px) {
	#randomizer {
		width: 65%;
	}
	#checker {
		width: 35%;
	}
	.card {
		flex-wrap: wrap;
	}
	.card .text {
		font-size: 3rem;
		width: 5rem;
		height: 5rem;
	}
	.checker-input .main {
		/* border: solid red 1px; */
		width: 80%;
	}
}
@media screen and (max-width: 1100px) {
	.main h1 {
		font-size: 3rem;
	}
	.button div:last-child {
		width: 80%;
	}

	.checker-input .main {
		/* border: solid red 1px; */
		width: 100%;
	}
}
@media screen and (max-width: 900px) {
	#randomizer {
		width: 60%;
	}
	#checker {
		width: 40%;
	}
	.button button {
		width: 5rem;
		height: 3rem;
	}
	.checker-input .main {
		/* border: solid red 1px; */
		width: 100%;
	}
	.checker-input .main input {
		width: 4rem;
	}
}
@media screen and (max-width: 650px) {
	body {
		display: flex;
		flex-direction: column;
	}
	#randomizer {
		width: 100%;
	}
	#checker {
		width: 100%;
	}
}
@media screen and (max-width: 370px) {
	.main {
		padding: 2rem 0.5rem 0.5rem 0.5rem;
	}
	.button button {
		width: 4rem;
		height: 3rem;
	}
	.card .text {
		font-size: 3rem;
		width: 5rem;
		height: 5rem;
		margin: 0.5rem;
	}
}
