* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	align-items: center;
}
#randomizer {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #ffaebc;
	height: 100vh;
	width: 70%;
	overflow-x: hidden;
}

.main {
	padding: 2rem;
}

.main h1 {
	font-size: 5rem;
	margin-bottom: 10px;
}
.main .range {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.main input {
	width: 5rem;
	padding: 5px 0 5px 10px;
}
.button {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
}
.button div:first-child {
	margin-bottom: 20px;
}
.button div:last-child {
	width: 50%;
	display: flex;
	justify-content: space-between;
}

.button button {
	width: 10em;
	height: 5em;
	border-radius: 10px;
	/* transition: transform 0.2s; */
}
.button button:hover {
	cursor: pointer;
	/* transform: scale(1.3); */
}

.button #reset {
	background-color: #ff5e79;
	border: salmon;
}

.button #single {
	background-color: #a0e7e5;
	border: #a0e7e5 solid 1px;
}
.button #single:hover {
	background-color: #35e3de;
}

.button #automatic {
	background-color: #b4f8c8;
	border: solid 1px #b4f8c8;
}
.button #automatic:hover {
	background-color: #4df981;
}
.card {
	margin: 1rem;
	/* max-width: 100vw; */
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.card .text {
	background-color: #fbe7c6;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 5rem;
	letter-spacing: 5px;
	padding: 1rem;
	margin: 1rem;
	border-radius: 50%;
	width: 8rem;
	height: 8rem;
	/* mix-blend-mode: screen; */
}

#checker {
	background-color: #a0e7e5;
	height: 100vh;
	width: 30%;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-x: hidden;
}
#checker .main {
	font-size: 2rem;
	padding-bottom: 10px;
}
#checker p {
	font-size: 1.5rem;
}

.checker-input {
	/* border: solid red 1px; */
	display: flex;
	flex-direction: column;
	align-items: center;
}
.checker-input .main {
	/* border: solid red 1px; */
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 80%;
	padding: 10;
}
.checker-input .main input {
	text-align: center;
	margin: 0.5rem;
}
#checker-match {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#checker-match h1 {
	font-size: 5em;
}
.matched {
	background-color: #11f088aa;
}
.doubleEntry {
	background-color: #ff5e79;
}
#submit {
	width: 6rem;
	height: 3rem;
	margin-bottom: 30px;
}
#display {
	display: flex;
	flex-direction: column;
	align-items: center;
}
